
  .navbar {
    overflow: hidden;
    background-color: hsl(163, 80%, 42%);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
   }
   .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
   }
   .navbar a:hover {
    background: #ddd;
    color: black;
   }
   .topnav-right {
    float: right;
   }
   .main {
    padding: 16px;
    margin-top: 30px;
    height: 1500px;
   }
   
   

   .grid-container {
    display: grid;
    grid-template-columns: 4fr;
    grid-gap: 10px;
  }
  
  .grid-item {
    background-color:hsl(162, 77%, 88%);
    padding: 20px;
  }
  
  .home {
    display: grid;
    grid-template-columns: 40fr;
    position: relative;
    z-index: 0;
  }
  
  .home img {
    width: 100%;
    height: auto;
    z-index:0;
  }
  
  .home-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
  }
  
  .block {
    border: 1px solid rgb(173, 159, 159)767;
    padding: 15px;
    text-align: center;
}

.block img {
    max-width: 100%;
    height: auto;
}



  .origin-story {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
  }
  
  .origin-story img {
    
    width: 100%;
    height: auto;
  }
  
  .blog {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
  }
  
  .blog-item {
    text-align: center;
  }
  
  .blog img {
    width: 100%;
    height: auto;
  }
  
  .contact {
    text-align: center;
  }
   

  .fontsize {
    position: relative;
}
.fontsize img {
    width: 100%;
}
.fontsize .text {
    width: 100%;
    position: absolute;
    font-family: 'Roboto', sans-serif;  
    color: #337AB7;
    font-size: 48px;
    top: 40px;
    left: 130px;
}